.travel-card-clinic {
    background-color: #427D9D;
    border-radius: 20px;
    padding: 20px;
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); */
    max-width: 300px; /* Adjust as needed for your layout */
    margin: auto;
    font-family: Arial, sans-serif;
    /* text-align: start; */
    box-shadow: 0 5px 25px 20px rgba(0, 0, 0, 0.11);
    /* border-radius: 7px; */
    /* cursor: pointer; */
  }
  .text-clinic-rating{
    margin-top: 50px; /* Adjust this value to match the height of your navbar */
    color: #fff;
  }


  .travel-card-header-clinic {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .plane-icon-clinic {
    /* Placeholder for the plane icon */
    width: 40px;
    height: 40px;
    /* background: orange; */
    /* mask: url('/path-to-your-plane-icon.svg') no-repeat 50% 50%; */
    /* -webkit-mask: url('/path-to-your-plane-icon.svg') no-repeat 50% 50%; */
    display: inline-block;
    margin-right: 10px;
  }
  
  .travel-card-body-clinic {
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 10px 0;
  }
  
  .travel-card-status-clinic p {
    background-color: #e0e0e0;
    color:  green;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 10px 0;
  }

  
  .travel-card-status-clinic textarea{
    /* text-align: start;  */
    color: black;
    height: 5rem;
    padding: 0 2rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #2a2a2a;
    background-color: #427D9D;
    /* color: black; */
}

.travel-card-status-clinic textarea::placeholder {
  color: white; /* Change this to your desired placeholder text color */
}
  
  .onboard-button-clinic {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

  .travel-card-buttons-clinic .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-green-clinic {
    background-color: #4CAF50;
  }
  
  .btn-red-clinic {
    background-color: #F44336;
  }
  
  /* Add responsiveness to the card for better mobile viewing */
  @media screen and (max-width: 850px) {
    .travel-card-clinic {
      width: 90%;
      /* flex-direction: column; */
    }
  }
  